@model IEnumerable<ScheduleMonitorApp.Entities.ClientCommandLog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @Class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LogType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientCommandId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LogType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientCommandId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ClientCommandLogId }, new { @Class = "btn btn-primary" })
            @Html.ActionLink("Details", "Details", new { id = item.ClientCommandLogId }, new { @Class = "btn btn-primary" })
            @Html.ActionLink("Delete", "Delete", new { id = item.ClientCommandLogId }, new { @Class = "btn btn-primary" })
        </td>
    </tr>
}

    <p>
        @Html.ActionLink("Go to Clients List", "Index", "Client", null, new {@Class = "btn btn-warning"})
    </p>


</table>
