@model SchedulerMonitorDataEntities.Entities.ClientCommandLog

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ClientCommandLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LogType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientCommandId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientCommandId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new { clientCommandId = Model.ClientCommandId }, new { @Class = "btn btn-warning" })
        </div>
    }
</div>
